.container {
    width: 300px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .code-container {
    display: flex;
    justify-content: space-between;
  }
  .code {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
  }