/*  your css code here. If applicable */
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	font-family:Arial, sans-serif;
	background-color: #4f4f9;
	display:flex;
	justify-content: center;
	height:100vh;
}
.otp-container {
	text-align: center;
	background-color: white;
	padding:30px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
	border-radius:8px;
}

#verification_heading{
	font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}
#verification_subtext {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}
.code-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.code {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.code:focus {
    border-color: #007bff;
    background-color: #e6f0ff;
}