body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

#verification-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#otp-fields {
    display: flex;
}

.code {
    width: 40px;
    height: 40px;
    margin: 5px;
    text-align: center;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 3px;
}